helloapi/bin/Debug/net9.0/helloapi.dll
helloapi/bin/Debug/net9.0/helloapi.pdb
helloapi/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
helloapi/bin/Debug/net9.0/Microsoft.OpenApi.dll
helloapi/obj/Debug/net9.0/helloapi.AssemblyInfoInputs.cache
helloapi/obj/Debug/net9.0/apphost
helloapi/obj/Debug/net9.0/helloapi.dll
helloapi/obj/Debug/net9.0/ref/helloapi.dll
helloapi/obj/Debug/net9.0/refint/helloapi.dll
helloapi/obj/Debug/net9.0/helloapi.assets.cache
helloapi/obj/Debug/net9.0/helloapi.csproj.AssemblyReference.cache
helloapi/obj/Debug/net9.0/helloapi.pdb
